*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    height: 955px;
    width: 100vw;
    min-width: 320px;
}
header{
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: flex-start;
}
header h1{
    letter-spacing: -2px;
    margin-left: 77px;
    line-height: 12px;
    font-size: 26px;
    color: #333333;
}

.wrapper{
    display: grid;
    height: 80%;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-row: auto;
}
.wrapper .wrapper--left{
    display: grid;
    place-items: center;
}
.wrapper--left img{
    width: 80%;
    max-width: 544px;
    height: auto;
}
.wrapper--right{
    display: grid;
    justify-items: flex-start;
    align-content: center;
    font-family: 'Space Mono', monospace;
    row-gap: 60px;
    margin-left: 0px;
}
.wrapper--right h2{
    color: #333333;
    font-weight: 700;
    max-height: fit-content;
    font-size: 58px;
    max-width: 580px;
    line-height: 95px;
}
.wrapper--right h3{
    color: #4F4F4F;
    font-weight: 400;
    max-width: 300px;
    line-height: 36px;
    font-size: 18px;
}
.wrapper--right p{
    color: white;
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: 500;
    background-color: #333333;
    padding: 18px 26px;
    line-height: 21px;
    cursor: pointer;
}
footer{
    height:10%;
    color: #BDBDBD;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}
@media screen and (max-width:425px) {
    
    body{
        height: 800px;
    }
    header h1{
        margin-left: 24px;
        font-size: 24px;
    }

    .wrapper--right{
        row-gap: 20px;
        align-content: flex-start;
        margin-left: 24px;
    }
    .wrapper--right h2{
        font-size: 44px;
        max-width: 580px;
        line-height: 71px;
        max-width: 360px;
    }
    .wrapper--right h3{
        max-width: 330px;
        line-height: 27px;
        font-size: 16px;
    }
    .wrapper--right p{
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: 500;
        padding: 24px 36px;
        line-height: 21px;
        margin-top: 30px;
    }
    footer{
        font-size: 11px;
    }
}